.footer {
  background: #1235f5;
  color: #fff;
  text-align: center;
  padding: 4px 20px 32px;
}

.footer h2 {
  margin: 0 0 15px;
  font-size: 16px;
  font-weight: 700;
}

.footer .action {
  border: 0;
  background: #fff;
  color: #4200dc;
  border-radius: 5px;
  font: 700 7px Inter, Arial;
  line-height: 1;
  padding: 7px 13px;
  margin: 0 3px;
  cursor: pointer;
}
